docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true
process.scratch = true
conda.enabled = true
nextflow.enable.moduleBinaries = true

params {
    fastq_r1 = "s3://ucla-rare-diseases/UCLA-UDN/rnaseq/fastq/BG-2024-10-15/UDN486800-2931649-MGML0089-FBR1_R1_001.fastq.gz"
    fastq_r2 = "s3://ucla-rare-diseases/UCLA-UDN/rnaseq/fastq/BG-2024-10-15/UDN486800-2931649-MGML0089-FBR1_R2_001.fastq.gz"
    prefix = "UDN486800-2931649-MGML0089-FBR1"
    family_id = "UDN486800"
    bucket_dir = "UDN486800-P_fibroblast_rnaseq"
    rib_reference_path = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference"
    gencode_gtf_path = "s3://ucla-rare-diseases/UCLA-UDN/alden_test/resources/gencode.v19.protein_coding.gtf"
    outdir = "results"
    constraint = "s3://ucla-rare-diseases/UCLA-UDN/assets/prioritize_splice_junctions/constraint_with_interval_canonical.txt"
    gencode_cds = "s3://ucla-rare-diseases/UCLA-UDN/assets/prioritize_splice_junctions/gencode_exons_cds_only.tsv"
    genemap = "s3://ucla-rare-diseases/UCLA-UDN/assets/prioritize_splice_junctions/genemap2_2020-08-02_disease_genes_with_hg19.txt"
    gnomad = "s3://ucla-rare-diseases/UCLA-UDN/assets/prioritize_splice_junctions/gnomad.v2.1.1.lof_metrics.by_gene.txt"
    sjdblist = "s3://ucla-rare-diseases/UCLA-UDN/assets/prioritize_splice_junctions/sjdbList.fromGTF.out.tab"
    latest_udn_id_key="s3://ucla-rare-diseases/UCLA-UDN/assets/pedigrees/udn_id_to_proband_id_2020-02-29.tsv" // latest_udn_id_key.tsv
    latest_directory_date="s3://ucla-rare-diseases/UCLA-UDN/assets/nelson_lab_splice_junction_database_hdf5/2023-09-08/"
    human_fai = "s3://ucla-rare-diseases/UCLA-UDN/alden_test/rnaseq/references/human_g1k_v37.fasta.fai"
    human_dict = "s3://ucla-rare-diseases/UCLA-UDN/alden_test/rnaseq/references/human_g1k_v37.dict"
    human_fasta = "s3://ucla-rare-diseases/UCLA-UDN/alden_test/rnaseq/references/human_g1k_v37.fasta"
    output_bucket = "s3://ucla-rare-diseases/UCLA-UDN/Analysis/UDN_cases"
    
}