params {
    publish_dir_mode = "copy"
    outdir = "/mnt/workflow/pubdir"
    bwa_docker = "<account>.dkr.ecr.<region>.amazonaws.com/bwa:<version>"
    fastp_docker = "<account>.dkr.ecr.<region>.amazonaws.com/fastp:<version>"
    samtools_docker = "<account>.dkr.ecr.<region>.amazonaws.com/samtools:<version>"
    star_docker = "<account>.dkr.ecr.<region>.amazonaws.com/star:<version>"
    sambamba_docker = "<account>.dkr.ecr.<region>.amazonaws.com/sambamba:<version>"
    subread_docker = "<account>.dkr.ecr.<region>.amazonaws.com/subread:<version>"
    irfinder_docker = "<account>.dkr.ecr.<region>.amazonaws.com/irfinder:<version>"
    mosdepth_docker = "<account>.dkr.ecr.<region>.amazonaws.com/mosdepth:<version>"
    rnaseqc_docker = "<account>.dkr.ecr.<region>.amazonaws.com/rnaseqc:<version>"
    kallisto_docker = "<account>.dkr.ecr.<region>.amazonaws.com/kallisto:<version>"
    bedtools_docker = "<account>.dkr.ecr.<region>.amazonaws.com/bedtools:<version>"
    deepvariant_docker = "<account>.dkr.ecr.<region>.amazonaws.com/deepvariant:<version>"
    fastq_r1 = null
    fastq_r2 = null
    sample_name = null
    rrna_reference = null
    globinrna_reference = null
    gencode_gtf_path = null
    gencode_gtf_collapse = null
    human_fai = null
    human_dict = null
    human_fasta = null
    ir_ref = null
    xbp1_bed = null
    mt_bed = null
    star_index_151 = null
    star_index_150 = null
    star_index_120 = null
    star_index_100 = null
    star_index_75 = null
    star_index_69 = null
    kallisto_index = null
    gencode_bed = null
    min_coverage = null
    model_data = null
    model_index = null
    model_meta = null
    model_info = null
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

process {

    withLabel: 'fastp' {
        container = params.fastp_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'bwa_mem' {
        container = params.bwa_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'samtools_view' {
        container = params.samtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'samtools_flagstat' {
        container = params.samtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'samtools_index' {
        container = params.samtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'star_alignreads' {
        container = params.star_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/ALIGNMENT/" },
                pattern: "*versions.yml"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/ALIGNMENT/" },
                pattern: "*.log"
            ]
        ]
        memory = 192.GB
        cpus = 48
    }

    withLabel: 'sambamba_markdup' {
        container = params.sambamba_docker
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/ALIGNMENT/" },
                pattern: "*versions.yml"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/ALIGNMENT/" },
                pattern: "*.log"
            ]
        ]
        memory = 32.GB
        cpus = 16
    }

    withLabel: 'subread_featurecounts' {
        container = params.subread_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/COUNTS/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'samtools_cram' {
        container = params.samtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/ALIGNMENT/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'samtools_bam2sam' {
        container = params.samtools_docker
        memory = 32.GB
        cpus = 16
    }

    withLabel: 'irfinder' {
        container = params.irfinder_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/IR/" },
                pattern: "*"
            ],
        ]
        memory = 32.GB
        cpus = 16
    }

    withLabel: 'mosdepth' {
        container = params.mosdepth_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/MOSDEPTH/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'bam2sj' {
        container = params.bwa_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/BAM2SJ/" },
                pattern: "*"
            ],
        ]
        memory = 32.GB
        cpus = 16
    }

    withLabel: 'rnaseqc' {
        container = params.rnaseqc_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'kallisto_quant' {
        container = params.kallisto_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QUANT/" },
                pattern: "*"
            ],
        ]
        memory = 32.GB
        cpus = 16
    }

    withLabel: 'bedtools_merge_intersect' {
        container = params.bedtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/BED/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'deepvariant_rundeepvariant' {
        container = params.deepvariant_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/VARCALL/" },
                pattern: "*"
            ],
        ]
        memory = 192.GB
        cpus = 48
    }
}